<p id="notice"><%= notice %></p>

<p>
  <strong>Case:</strong>
  <%= @case_attachment.case_id %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @case_attachment.photo %>
</p>

<%= link_to 'Edit', edit_case_attachment_path(@case_attachment) %> |
<%= link_to 'Back', case_attachments_path %>
