<div id="footer">

  <div class="footer-area-top">
    <div class="inner">
      <div class="at-callOutBox">
        <div class="at-callOut_inner">
          <div class="at-callOut-action">
            <div class="at-callOut_text">
              <div class="at-callout-action-text">
                <h1 style="font-size:16px;color:#ffffff;font-weight:300;letter-spacing:0px;">Colocamos nossa equipe de radiologistas à sua disposição para oferecer a melhor experiência em telerradiologia.</h1>
              </div>
            </div>
            <div class="at-callOut_btn">
              <div class="at-callout-action-button">
                <a href="#" class="btn large" style="color: #ffffff;border-color: #ffffff;" data-btn-color="#f0f0f0">
                  <span class="btn-text">Solicite um Orçamento</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .footer-area-top-->

  <div class="footer-area-middle">
    <div class="inner">
      <div class="inner-row">
        <aside id="text-4" class="whitetext widget widget_text  col_3">
          <div class="textwidget">
            <p><%= image_tag("logo.png", width: "220px", alt: "Digitalrad - Número 1 em Teleradiologia") %></p>
            <%= Block.friendly.find("responsavel-tecnico").content.html_safe %>

          </div>
        </aside>
        <aside id="nav_menu-6" class="widget widget_nav_menu  col_3">
          <h3 class="widget-title">Mapa do Site</h3>
          <div class="menu-footer-one-container">
            <ul class="menu">

              <li><%= link_to "Quem Somos".html_safe, quem_somos_path, data: { turbolinks: false }%></li>
              <li><%= link_to "Laudos a Distância".html_safe, laudos_distancia_path, data: { turbolinks: false }%></li>
              <li><%= link_to "Casos Clínicos".html_safe, casos_clinicos_path, data: { turbolinks: false }%></li></li>
              <li><%= link_to "<i class='fa fa-lock' style='color:red;''></i>  Contratos".html_safe, contratos_path, data: { turbolinks: false }%></li>
              <li><%= link_to "Fale Conosco".html_safe, fale_conosco_path, data: { turbolinks: false }%></li>
            </ul>
          </div>
        </aside>
        <aside id="nav_menu-5" class="widget widget_nav_menu  col_3">
          <h3 class="widget-title">Saiba Mais</h3>
          <div class="menu-footer-one-container">
            <ul class="menu">
              <li><%= link_to "Como Funciona", root_path(anchor: "como-funciona"), data: { turbolinks: false }%></li>
              <li><%= link_to "Equipe Médica", quem_somos_path(anchor: "equipe-medica"), data: { turbolinks: false }%></li>
              <li><%= link_to "Vantagens Para seu Serviço", root_path(anchor: "nosso-diferencial"), data: { turbolinks: false }%></li>
              <!-- <li><a href="#">Área de Atuação</a></li> -->
              <li><%= link_to "Nossa Estrutura", quem_somos_path(anchor: "nossa-estrutura"), data: { turbolinks: false }%></li>
            </ul>
          </div>
        </aside>
        <aside id="contactinfo_widgets-2" class="widget contactinfo-wg  col_3">
          <%= Block.friendly.find("rodape-fale-conosco").content.html_safe %>
        </aside>
      </div><!-- inner-row -->
    </div><!-- inner -->
  </div><!-- .footer-area-middle-->

  <div class="footer-area-bottom">
    <div class="inner">
      <aside id="text-7" class="textcenter widget widget_text">
        <div class="textwidget">
          &copy; Copyright 2018 Digitalrad. Todos os Direitos Reservados. Desenvolvido por <a href="#">AzevedoDev</a>
        </div>
      </aside>
    </div>
  </div>

</div><!-- #footer -->
