<p>
  <strong>Name:</strong>
  <%= @admin.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @admin.password %>
</p>

<p>
  <strong>Password confirmation:</strong>
  <%= @admin.password_confirmation %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @admin.avatar %>
</p>

<%= link_to 'Edit', edit_admin_admin_path(@admin) %> |
<%= link_to 'Back', admin_admins_path %>
