<div class="navbar nav_title" style="border: 0;">
  <%= link_to admin_root_path, class: "site_title" do %>
    <i class="fa fa-cloud"></i> <span>Cloud<b>Admin</b></span>
    <% end %>
</div>
<div class="clearfix"></div>
<% if admin_signed_in?%>
<!-- menu profile quick info -->
<div class="profile clearfix">
  <div class="profile_pic">
    <% if current_admin.avatar? %>
    <%= image_tag(current_admin.avatar_url, alt: current_admin.name, class: "img-circle profile_img") %>
    <% else %>
    <img src="/assets/empty-avatar.jpg" alt="<%= current_admin.name %>" class="img-circle profile_img">
    <% end %>
  </div>
  <div class="profile_info">
    <span>Bem Vindo,</span>
    <h2><b><%= current_admin.name %></b></h2>
  </div>
</div>
<!-- /menu profile quick info -->
<% end %>
<br />

<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>Menu Principal</h3>
    <ul class="nav side-menu">

      <li><%= link_to "<i class='fa fa-dashboard'></i> Dashboard </a>".html_safe, admin_root_path %></li>
      <li><%= link_to "<i class='fa fa-user'></i> Administradores </a>".html_safe, admin_admins_path %></li>
      <li><%= link_to "<i class='fa fa-list-alt'></i> Lista de Laudos </a>".html_safe, admin_reports_path %></li>
      <li><%= link_to "<i class='fa fa-user-md'></i> Equipe Medica </a>".html_safe, admin_staffs_path %></li>

      <li><%= link_to "<i class='fa fa-slideshare'></i> Slider </a>".html_safe, admin_sliders_path %></li>
      <li><%= link_to "<i class='fa fa-building '></i> Empresas </a>".html_safe, admin_companies_path %></li>
      <li><%= link_to "<i class='fa fa-handshake-o'></i> Parceiros </a>".html_safe, admin_partners_path %></li>
      <li><%= link_to "<i class='fa fa-lightbulb-o'></i> Soluções </a>".html_safe, admin_solutions_path %></li>
      <li><%= link_to "<i class='fa fa-lightbulb-o'></i> Blocos de Conteúdo </a>".html_safe, admin_blocks_path %></li>

    </ul>
  </div>
  <div class="menu_section">
    <h3>Sistema</h3>
    <ul class="nav side-menu">
        <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="page_403.html">403 Error</a></li>
          <li><a href="page_404.html">404 Error</a></li>
          <li><a href="page_500.html">500 Error</a></li>
          <li><a href="plain_page.html">Plain Page</a></li>
          <li><a href="login.html">Login Page</a></li>
          <li><a href="pricing_tables.html">Pricing Tables</a></li>
        </ul>
      </li>
    </ul>
  </div>

</div>
<!-- /sidebar menu -->

<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small">
  <a data-toggle="tooltip" data-placement="top" title="Settings">
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="FullScreen">
    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="Lock">
    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
  </a>
</div>
<!-- /menu footer buttons -->
